<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/imagenes/bootstrap-logo-shadow.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Angular CRUD con API Rest
    </a>
  </div>
  <div class="=container">
    <div class="row">
        <div class="col-md-8">
            <!--formulario-->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Ingrese los datos del contacto</h5>
                <form>
                  <form [formGroup]="contactoForm" (ngSubmit)="registrarContacto()">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Consigne el fullname" formControlName="fullname">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Consigne el phone" formControlName="phone">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Consigne el email" formControlName="email">
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Guardar</button>
                      <button class="btn btn-danger">Nuevo</button>
                    </div>
                  </form>
                </form>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                Contactos Registrados
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">N°</th>
                      <th scope="col">Fullname</th>
                      <th scope="col">Phone</th>
                      <th scope="col">Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let contacto of contactoArray; let i=index">
                      <th>{{i + 1}}</th>
                      <td>{{contacto.fullname}}</td>
                      <td>{{contacto.phone}}</td>
                      <td>{{contacto.email}}</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td colspan="2">Larry the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/assets/imagenes/bootstrap-logo-shadow.png">
        </div>
    </div>

  </div>
</nav>